<ul class="nav nav-tabs">
  {{#if (gt details.documents.length 0)}}
    <li class="nav-item">
      <a {{action "changeTab" "documents"}} class="nav-link {{if (eq activeTab "documents") "active"}}" href="#">Documents ({{details.documents.length}})</a>
    </li>
  {{/if}}
  {{#if (gt details.pages.length 0)}}
    <li class="nav-item">
      <a {{action "changeTab" "pages"}} class="nav-link {{if (eq activeTab "pages") "active"}}" href="#">Pages ({{details.pages.length}})</a>
    </li>
  {{/if}}
</ul>


{{#each results as |document index|}}
<div class={{if (gt index 0) "mt-3"}}>
    <div class="p-title">{{fa-icon icon=document._icon fixedWidth=true}}{{document.Title}}</div>
    {{#if (eq document.FileExtension "aspx")}}
      <div>
        <a class="p-link" title="View in SharePoint" href="{{document.Path}}">View Page in Sharepoint {{fa-icon icon="external-link-square" fixedWidth=true class="external-link-icon"}}</a>
      </div>
    {{else}}
      <div>
        <a class="p-link" title="Download file from SharePoint" href="{{document.Path}}">Download Document {{fa-icon icon="download" fixedWidth=true class="external-link-icon"}}</a>
      </div>
    {{/if}}
    <div>
        <span class="p-key">Author: </span>
        <span class="p-value">{{document.Author}}</span>
    </div>
    {{#if document.Description}}
      <div>
        <span class="p-key">Description: </span>
        <span class="p-value break-word">{{document.Description}}</span>
      </div>
    {{/if}}
    <div>
        <span class="p-key">Size: </span>
        <span class="p-value">{{document._sizeHumanReadable}}</span>
    </div>
    {{#if document.ParentLink}}
      <div>
        <span class="p-key">Folder: </span>
        <span class="p-value"><a class="p-link" title="Open in SharePoint" href="{{document.ParentLink}}">{{document._containingFolder}}{{fa-icon icon="external-link-square" fixedWidth=true class="external-link-icon"}}</a></span>
      </div>
    {{/if}}
    <div>
        <span class="p-key">Last Modified: </span>
        <span class="p-value">{{moment-format document.LastModifiedTime timeZone=timezone}}</span>
    </div>
    <div>
        <span class="p-key">File Type: </span>
        <span class="p-value">{{document.FileType}}</span>
    </div>
    {{#if document.HitHighlightedSummary}}
      <div>
        <span class="p-key">Search Highlight: </span>
        <span class="p-block">{{{document.HitHighlightedSummary}}}</span>
      </div>
    {{/if}}
</div>
    {{#if block.userOptions.debug}}
        <h1 class="p-title">All Fields</h1>
        <JsonViewer
            @json={{block.data.details}}
            @options={{hash
              expandedIcon="▼"
              collapsedIcon="▶︎"
              collapseDepth=0
            }}
        />
    {{/if}}
{{/each}}